.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;

    background: rgb(1, 14, 35);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.header_signIn {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    shape-outside: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: white;
    box-shadow: 0px 1px 1px  rgba(1, 14, 35, 0.1);
}


.logo {
    font-size: 32px;
    color: #fff;
    font-weight: 700;
}

.logo_SignIn {
    font-size: 32px;
    color: rgb(1, 14, 35);
    font-weight: 700;
}


.App{
    padding: 10px 5%;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
}

 /* .navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 3s;
}

.navbar a:hover::before {
    width: 100%;
}  */
  
.link_Nav {
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    justify-content: flex-start;
    transition: background-color 0.5s ease;
    border-radius: 5px;
}
.link_Nav:hover{
    background-color: rgb(39, 17, 82);
}
.link_Nav:focus{
    background-color: rgb(88, 78, 102);

}

.menu {
    display: none;
    
  }
  .menu_SignIn {
    display: none;
  }  
.line{
    display: none;
}
@media screen and (max-width: 800px) {
    .navigation_Mobile_off{
        display: none;
    }
    .navigation_Mobile_on {
        width: 100vw;
        
        display: flex;
        padding: 4%;
        flex-direction: column;
        justify-content: flex-start; /* هذا يضمن محاذاة العناصر رأسياً من الأعلى */
    }
    
    .headerMobile{
        display: flex;

        width: 100%;
        justify-content: space-between;
    }
    .menu {
        color: white;
        display: block;
        cursor: pointer;  
      }
      .menu_SignIn {
        display: none;  
      }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
    } 

    .line{
        display: block;
        margin: 15px;
         color: white;
          width: 100vw;
          height: 0.2px;
          background-color: white;
         border: none;
    }

    .link_Nav {
        text-decoration: none;
        padding: 15px;
        margin-bottom: 10px;
        justify-content: flex-start;
        transition: background-color 0.5s ease;
        border-radius: 5px;
    }
    
    /* التأثير عند الضغط */
    .link_Nav:active {
        background-color: rgb(88, 78, 102);

    }
    

}


